$background: #262629;
$background2: #030303;
html {
  padding:0;
  margin:0;
  background:$background2;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-container {
  background-color: $background;
  // min-height: 100vh;
  display: flex;
  // flex-direction: column;
  padding: 2.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: large;
  color: #fdfdfd;
  .projects-filters{order: 1;}
  .projects-table{order:2 ;}
}

.App-link {
  color: #61dafb;
}
